/* footer styling */
footer {
  display: none;
  background-color: #3f2715f1;
}
/* ===================================== */
/* media query */
/* ===================================== */
@media (min-width: 768px) {
  /* show the footer and styling */
  footer {
    display: block;
    padding-top: 8%;
    position: relative;
  }
  /* display horizontally */
  .footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    line-height: 30px;
    padding: 0 5%;
    color: #fff;
    font-weight: 400;
  }
  /* to make all flex take equal space */
  .footer-links ul {
    list-style: none;
    flex: 1;
    min-width: 140px;
    font-family: "Poppins", sans-serif;
  }
  /* footer logo or title */
  .footer-logo {
    font-size: 2.2rem;
    font-weight: 400;
    font-family: "Island Moments", cursive;
    color: #ff7a18;
    padding: 0;
  }
  /* to put desc in short space to resemble */
  .contact,
  .social-links-footer,
  .footer-nav,
  footer p {
    font-weight: 400;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
  }
  .footer-nav li a {
    font-weight: 400;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
    color: #fff;
  }
  .footer-description,
  .quick-contact-footer {
    font-weight: 400;
    font-size: 1.2rem;
    padding-right: 2%;
    font-family: "Jost", sans-serif;
  }
  /* footer very bottom style */
  footer p {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    padding-block: 5%;
    padding-left: 5%;
  }
  /* scroll up button */
  .scroll-top {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    padding: 0;
    border: none;
    background-color: #0081fe;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
  }
}
