/* nav style */
/* nav-bar */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 3%;
  position: fixed; /* stays at top */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
}
/* logo */
.logo {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: "Island Moments", cursive;
  color: #ff7a18;
  padding: 0;
}

/* hamburger */
.hamburger {
  font-size: 24px;
  cursor: pointer;
}
/* hide nav-links and login button */
.nav-links,
.login-button-container {
  display: none;
  list-style: none;
  text-decoration: none;
}

.nav-links.active,
.login-button-container.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background: white;
  flex-direction: column;
  text-align: center;
  padding: 20px 0;
}
.login-button-container.active {
  top: 150px;
}
.nav-links li a,
.login-button-container li a {
  color: #1f2937;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
}

.nav-links li a:hover,
.login-button-container li a:hover {
  color: #ff7a18;
}
.login-button-mb {
  background-color: #ff7a18;
  width: 120px;
  height: 25px;
  border-radius: 10px;
  border: none;
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
/* ===================================== */
/* media query */
/* ===================================== */

@media (min-width: 768px) {
  /* hide hamburger */
  .hamburger {
    display: none;
  }
  /* display horizontally */
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* show nav-links */
  .nav-links {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding-inline: 8%;
  }
  /* show login button*/
  .login-button-container {
    display: block;
  }

  .login-button-mb {
    height: 40px;
    font-size: 1rem;
  }
}
