/* landing page background */
.landing-bg {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../assets/images/homePageBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
  color: white;
}

/* title overlay on the background image*/
.landing-title {
  padding-top: 20%;
  font-size: clamp(1.2rem, 5vw, 1.8rem);
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 10px;
}

/* subtitle overlay on the background image */
.landing-subtitle {
  font-weight: 500;
  font-size: clamp(0.5rem, 5vw, 1rem);
  margin-bottom: 20px;
}

/* button overlay on the background image*/
.discover-button {
  position: relative;
  background-color: #ff7a18;
  padding: 2px 20px;
  color: #fff;
  border: none;
  border-radius: 10px;
  margin-bottom: 25px;
  width: fit-content;
  font-size: clamp(0.5rem, 5vw, 1.2rem);
  font-weight: 300;
}
.discover-button:hover {
  cursor: pointer;
}

/* Search overlay on the background image*/
.search-wrapper {
  position: relative;
  position: absolute;
  top: 95%;
  width: 90%;
  margin: 0 auto;
}

.search-input {
  width: 100%;
  height: clamp(30px, 5vw, 45px);
  border: none;
  border-radius: 8px;
  padding-left: 35px;

  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
}

input::placeholder {
  font-size: clamp(0.5rem, 5vw, 1rem);
  font-weight: 600;
  color: #1f2937;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: gray;
}
/* menu category title */
.menu-title {
  text-align: center;
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: 700;
  padding-top: 20% ;
}

/* view more anchor link */

.view-more-link {
  padding-block: 20px;
  color: #1e88e5;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  display: block;
  text-align: center;
}
/* bottom of home page */
.bottom-bg {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../assets/images/menuAdditionsBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
  color: white;
}
/* ================================= */
/* media query */
/* ================================= */

@media (min-width: 768px) {
  /* landing bg-image,title and subtitle style */
  .landing-bg {
    padding: 120px 80px;
  }

  .landing-title {
    padding-top: 3%;
    font-size: 3rem;
  }

  .landing-subtitle {
    font-size: 1.5rem;
  }

  /* input with search */
  .search-wrapper {
    position: relative;
    position: absolute;
    width: 70%;
    margin-left: 12%;
  }

  /* hide view more link */
  .view-more-link {
    display: none;
  }
  .menu-title {
    padding: 3% 0;
  }
}
