/* title */
.order-summary-container {
  width: 90%;
  background-color: #fff;
  border-radius: 4px;
  margin: 40px auto;
  padding: 30px;
  margin-top: 20%;
}
.summary-title {
  color: #000;
  font-weight: 700;
  font-size: clamp(1.2rem, 5vw) 2rem;
  padding: 3%;
}
/* horizontal line */
hr {
  height: 0.5px;
  background-color: #bdbdbd;
  border: none;
}
/* sub title */
.promo-code {
  font-weight: 400;
  font-size: clamp(0.5rem, 5vw, 1.2rem);
  padding: 8% 3% 0 3%;
  text-align: left;
}
/* input and button */
.input-button-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin: 20px 0;
}

.input-button-wrapper input {
  width: 50%;
  height: 45px;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  font-size: 1rem;
  color: #333;
  padding-left: 1%;
}

.input-button-wrapper input::placeholder {
  color: #999;
}

.input-button-wrapper button,
.delivery-pickup button {
  width: 50%;
  height: 45px;
  padding: 0 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  background-color: #ff7a18;
  color: #fff;
}

.input-button-wrapper button:hover,
.delivery-pickup button:hover {
  background-color: #bdbdbd;
  color: #fff;
}
.delivery-pickup .pickup {
  background-color: #bdbdbd;
}
.delivery-pickup .pickup:hover {
  background-color: #ff7a18;
  color: #fff;
}
/* price details */
.price-details h3,
.total-price h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4b5563;
  font-weight: 500;
  font-size: clamp(0.5rem, 5vw, 1rem);
  margin: 10px 0;
}

.price-details span,
.total-price span {
  text-align: right;
}

/* special order details */

.special-detail {
  width: 100%;
  max-width: 500px;
  margin: 20px 0;
}

.special-detail textarea {
  width: 100%;
  height: 120px;
  /* padding: 12px; */
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  font-size: 0.9rem;
  resize: none;
  /* outline: none; */
}

.special-detail textarea::placeholder {
  color: #000;
  padding: 5%;
}

/* checkout button */
.checkout {
  background-color: #ff7a18;

  border-radius: 10px;
  padding: 1% 15%;
}
.checkout button {
  color: #fff;
}
/* ================================= */
/* media query */
/* ================================= */
@media (min-width: 768px) {
  .order-summary-container {
    margin-top: 8%;
    width: 684px;
    height: 816;
  }
}
