.Payment-container {
  width: 90%;
  background-color: #fff;
  border-radius: 4px;
  margin: 40px auto;
  padding: 30px;
  margin-top: 20%;
}
/* title & sub-title */
.payment-title {
  margin-bottom: 3%;
  font-size: clamp(0.8rem, 5vw, 1.2rem);
  font-weight: 700;
  color: #000;
}
.payment-with {
  font-size: clamp(0.6rem, 3vw, 1rem);
  font-weight: 600;
  color: #0a0d13;
  margin-top: 5%;
}
/* select options */
.input-radiobutton-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 7%;
}
.input-radiobutton-wrapper label,
.checkbox-wrapper label {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #acacac;
  font-size: clamp(0.5rem, 3vw, 1.2rem);
  font-weight: 500;
}
input[type="radio"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #acacac;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

/* green small inner dot */
input[type="radio"]:checked::before {
  content: "";
  width: 6px;
  height: 6px;
  background: #2fbd6a;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.payment-details {
  width: 100%;
  height: 10%;
  margin-bottom: 10%;
}
.payment-details input,
.Expired-cvv input {
  border: 1px solid #acacac;
  border-radius: 4px;
  height: 30px;
  width: 100%;
  padding: 5%;
  font-size: clamp(0.5rem, 3vw, 1rem);
}
.payment-details input::placeholder,
.Expired-cvv input::placeholder {
  color: #acacac;
  font-size: clamp(0.5rem, 3vw, 1rem);
  font-weight: 400;
}
.payment-details label,
.Expired-cvv label {
  color: #0a0d13;
  font-size: clamp(0.5rem, 4vw, 1.2rem);
  font-weight: 500;
}
.Expired-cvv {
  display: flex;
  gap: 20px;
  margin-block: 10%;
}

.payment-input-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.payment-input-group label {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 0.9rem;
}

.payment-input-group input {
  /* padding: 8px 10px; */
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 90%;
}

/* check box */
.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
/* pay button */
.pay-button {
  margin-block: 8%;
}
.pay-button button {
  width: 100%;
  color: #fff;
  padding: 7px 18px;
}
/* footer description */
.footer-description {
  color: #acacac;
  font-size: clamp(0.5rem, 4vw, 1rem);
  font-weight: 500;
}
/* ================================= */
/* media query */
/* ================================= */
@media (min-width: 768px) {
  .Payment-container {
    margin-top: 8%;
    width: 684px;
    height: 816;
  }
}
