/* cards styling */
.card {
  background-color: #fff;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-block: 15px;
  text-align: center;
  overflow: hidden;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.card-grid {
  padding-inline: 15px;
}
.card-image {
  width: 107%;
  height: 160px;
  object-fit: cover;
  display: block;
}

.card-title,
.card-subtitle {
  font-size: clamp(1rem, 2vw, 1.2rem);
  padding-top: 5%;
  padding-inline: 3%;
  text-align: left;
}
.card-subtitle {
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.card-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}
.card-price {
  color: #ff7a18;
}
/* add to cart button styling */
.add-to-cart-button {
  background-color: #ff7a18;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: 600;
  font-size: 0.8rem;
}

.add-to-cart-button:hover {
  background-color: #e65c00;
}
.card-explore {
  display: none;
}
/* add to cart icon */
.add-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color:#FF7A18;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}

/* ===================================== */
/* media query */
/* ===================================== */

@media (min-width: 768px) {
  /* cards styling */
  .card-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    height: auto;
    gap: 65px;
    padding-inline: 80px;
  }
  .card img {
    height: 222px;
  }
  .card-grid-lg {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 65px;
    height: auto;
  }
  .card-explore {
    display: none;
  }

}
